*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Scoreboard";
  src: url(../Scoreboard.ttf);
}

body {
  margin: 0;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

h3 {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 0.5em;
  text-shadow: 1px 1px 5px black;
}

.container {
  max-width: 1000px;
  margin: 100px auto;
  padding: 1em 0 10em 0;
  display: flex;
  justify-content: space-around;
  background-color: #1b244a;
  border: 3px solid white;
  border-radius: 20px;
}

.score-box {
  background-color: black;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 10px;
}

.score {
  color: red;
  font-size: 5rem;
}

.score,
.btn {
  font-family: "Scoreboard";
}

.btn {
  padding: 1em 1em;
  background-color: #1b244a;
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border-radius: 10px;
}

.btn:active,
#new-game:active {
  opacity: 80%;
}

#new-game {
  height: 50px;
  align-self: center;
  background-color: #1b244a;
  border: 1px solid white;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}

.btn,
#new-game {
  box-shadow: 2px 2px 5px black;
}
